@model Book
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form method="post" asp-action="Create">
  <div class="form-group">
    <label asp-for="Title">Title</label>
    <input asp-for="Title" class="form-control" placeholder="Title">
    <span asp-validation-for="Title" class="text-danger"> </span>
  </div>
    <div class="form-group">
        <label asp-for="Author">Author</label>
        <input asp-for="Author" class="form-control" placeholder="Author">
        <span asp-validation-for="Author" class="text-danger"> </span>
    </div>
    <div class="form-group">
        <label asp-for="Price">Price</label>
        <input asp-for="Price" class="form-control" placeholder="Price">
        <span asp-validation-for="Price" class="text-danger"> </span>
    </div>
    <div class="form-group">
        <label asp-for="Image">Image</label>
        <input asp-for="Image" class="form-control" placeholder="Image">
    </div>
   
    <button type="submit" class="btn btn-primary">Submit</button>
</form>