@{
    ViewData["Title"] = "Home Page";
}

<section class="jumbotron text-center">
    <div class="home">
        <div class="container text-light">
            <h1 class="jumbotron-heading pt-5">Księgarnia</h1>
            <p class="lead text-muted">Czytaj kiedy wszyscy scrollują.</p>
            <div class="hero-shadow">
            </div>
        </div>
    </div>
   
</section>
<p style="background-image: url('img_girl.jpg');">
